<div class="page-wrapper">
  
  <!-- Nav Bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/search">Dvelop.io</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <!-- <li><a href="#/signup">MyProfile</a></li> -->
          <li><a ui-sref="profile">MyProfile</a></li>
          <li><a ui-sref="community">Community</a></li>
          <li><a ui-sref="channels">Messages</a></li>
          <!-- <li><a href="#/messages">Messages</a></li> -->
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li ng-click="search.logout()"><a href="#">Logout</a></li> -->
          <li><a href="#" ng-click="communityCtrl.logout()">logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="page-header">
    <h1>Community</h1>
  </div>

  <!-- Search Bar -->
  <div class='container searchcontainer'>
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <form name="searchForm" class="search-bar form-inline" action="/#/community">
          <div class="form-group col-lg-8">
            <input class="form-control" name="search" ng-model="communityCtrl.input" placeholder="Search...">
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Search results, shows the summary profile of each of the users -->
  <div class="container">
    <div class="row">
      <div class="col-md-12" >
        <div class="row-fluid" >
          <div class="col-md-4" ng-repeat="user in communityCtrl.users | multiWordFilter: communityCtrl.input | filter: search.level" >
            <div class="userinfo">
              <div class="userphotobox">
                <img class="userphoto" ng-src="{{ communityCtrl.getGravatar(user.$id) }}">
              </div>
              
              <!-- <button type="button" class="btn btn-primary btn-sm chat-button" data-toggle="modal" data-target="#chatModal" ng-click="search.changeUser(user.$id)">
                Chat
              </button> -->

              <a ui-sref="channels.direct({uid: user.$id})" class="btn btn-primary btn-sm chat-button">Chat</a>

              <!-- ui-sref="channels.direct({uid: user.$id})" -->
              <!-- <a ui-sref="channels">Messages</a> -->
              <!-- <a ui-sref="login" class="btn btn-lg btn-default">Login</a> -->

              <p class="userinfobox">Display Name: <strong>{{user.displayName}}</strong></p>
              <p class="userinfobox">Full Name: <strong>{{user.fullName}}</strong></p>
              <p class="userinfobox">Location: <strong>{{user.cityState}}</strong></p>
              <p class="userinfobox">Skill Level: <strong>{{user.level}}</strong></p>
              <p class="userinfobox">Mentor or not: <strong>{{user.mentorAvail}}</strong></p>
              <p class="userinfobox">Collaborate or not: <strong>{{user.collaborator}}</strong></p>
              <p class="userinfobox">Tech Skill: <strong>{{user.techSkills}}</strong></p>
              <!-- <p class="userinfobox">Last Logged In: <strong>{{user.lastonline | date:'short'}}</strong></p> -->

            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal for chat -->
<!--     <div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Chat</h4>
          </div>
          <div class="modal-body">
            <form>
              <textarea class="form-control" rows="10" ng-model="search.message" placeholder="Type a message..."></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="search.sendMessage2()" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>